$shadow:  2px 0px 4px rgb(39, 39, 39);
$serif: 'Noto Serif Display', serif;
$sansSerif: 'Roboto', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1,
  h2,
  h3 {
    font-family: $serif;
  }

 h1 
  {  
    font-size: 3.5rem;
  }
  
  .menuItem {
    display: block;
    margin: 2rem 4rem;
    text-align: center;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
    font-family: $sansSerif;
  }
  
  .menuItem:hover {
    text-decoration: underline;
  }
  
  .hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 0px;
    border: black solid 0;
    background-color: transparent;
    cursor: pointer;
  }
  
  .closeIcon {
    display: none;
    width: 50px;
  }

  .menuIcon {
      width: 50px;
  }
  
  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
  }
  
  .showMenu {
    transform: translateY(0);
  }

  .landing-page {
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(images/cover-photo.jpg);
    background-size: cover;
    background-position: center center;
    object-fit: contain;
}


.mainTitle {
    text-align: center;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-shadow: $shadow;
    margin: 0;
    border-bottom: black 1px;
    animation: beat 2s infinite alternate 3.5s;
    transform-origin: center;
   /* animation: prijezd 3s ease;*/
}

@keyframes beat{
	to { transform: scale(1.1); 
    }
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: $shadow;
    margin: 0;
    animation: coming 3s ease-in-out;
}

@keyframes coming {
    from {
        margin-left: -100%;
    }

    to {
        text-align: center;
    }
}



a:link {
    text-decoration: none;
}

.main-title:hover,
.subtitle:hover {
    text-shadow: 2px 0px 4px rgb(0, 0, 0);;
}
